.accordion {
    &-item {
        position: relative;

        &__trigger {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &__title {
            display: block;
            font-size: 18px;
            line-height: 22px;
            color: $color-white;
        }

        &__content {
            &-nav {
                width: 100%;
                height: 100%;

                &-item {
                    width: inherit;
                    padding-top: 20px;
                }

                &-link {
                    display: inline-block;
                    width: inherit;
                    font-size: 16px;
                    line-height: 19px;
                    color: $color-white-grey;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        &-item {
            &__title {
                position: relative;
                padding: 20px 30px;
                background-color: $bg-dark-lighter;
                border-radius: 5px;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    display: block;
                    content: url('../images/icon-acordeon-arrow-top.svg');
                    transform: translateY(-50%);
                }
            }

            &__content {
                display: none;
                padding: 0 20px;
            }

            &__trigger {
                &:checked ~ .accordion-item__content {
                    display: block;
                    color: rebeccapurple;
                }

                &:checked ~ .accordion-item__title {
                    &::after {
                        content: url('../images/icon-acordeon-arrow-bott.svg');
                    }
                }
            }
        }
    }
}
