.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-block {
        background-color: $bg-dark;

        &__calendar {
            font-size: 15px;
            line-height: 18px;
            color: $color-sub-menu;
        }

        &__menu {
            &-wrapper {
                display: flex;
            }

            &-item {
                padding: 18px 25px;

                &:last-child {
                    padding-right: 0;
                }
            }

            &-link {
                font-size: 15px;
                line-height: 18px;
                color: $color-sub-menu;
            }
        }
    }

    &__bottom-block {
        padding: 25px 0;
        box-shadow: $box-shadow;

        &__logo {
            width: 234px;
            height: 80px;

            &-img {
                width: 100%;
                object-fit: contain;
            }
        }

        &__menu {
            &-burger {
                display: none;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-item {
                padding: 18px 25px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            &-link {
                font-size: 17px;
                line-height: 20px;
                color: $color-main-menu;
            }
        }
    }

    @media (max-width: 575.98px) {
        &__inner {
            padding: 10px 30px;
        }

        &__top-block {
            &__menu {
                display: none;
            }
        }

        &__bottom-block {
            padding: 0;

            &__logo {
                width: 225px;
            }

            &__menu {
                position: absolute;
                top: 68px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 6;
                display: none;
                width: 100%;
                height: 50vh;
                padding: 0;
                margin: 0;
                background-color: $bg-dark;

                &-wrapper {
                    flex-direction: column;
                    padding: 0 30px;
                    margin-top: 60px;
                }

                &-item {
                    width: 100%;
                    padding: 10px 0;
                }

                &-link {
                    display: inline-block;
                    width: 100%;
                    color: $color-white-grey;
                }

                &-burger {
                    position: relative;
                    z-index: 6;
                    display: block;
                    width: 30px;
                    height: 18px;
                    background-image: url('../images/icon-burger.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
