$color-title: #1c1a1b;
$color-subtitle: #d4d4d4;
$color-description: #878787;
$color-link: #3f8fd2;
$color-main-menu: #1c1a1b;
$color-sub-menu: #bbc0cd;
$color-submenu: #c9c9c9;
$color-white: #fff;
$color-white-grey: #c1c4ca;
$color-blue: #3f8fd2;
$color-border: #f6a44d;
$color-border-grey: #f5f7fcee;
$color-copyright: #6b758f;
$bg-dark: #434c63;
$bg-dark-lighter: #495471;
$box-shadow: 2px 8px 15px rgba(201, 201, 201, 0.15);
$border-radius: 20px;
$border-radius-btn: 10px;
$border-content: 1px solid #ececec;
$border-content-dark: 1px solid #495471;
$border-content-light: 1px solid #ececec;
