.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
        padding: 14px 0;
        font-size: 20px;
        line-height: 23px;
        color: $color-title;
    }

    &-video {
        width: 350px;
        height: 205px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }
}
