.secondary {
    padding: 40px 0;
    background-color: $bg-dark;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-card {
        min-height: 230px;
    }

    &-copyright {
        max-width: 227px;
        overflow: hidden;
        border-bottom: $border-content-dark;

        &__text {
            margin: 0;
            font-size: 14px;
            line-height: 153%;
            color: $color-copyright;
        }
    }
}
