.secondary {
    padding: 40px 0;
    background-color: $bg-dark;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-copyright {
        max-width: 227px;
        margin: 0;
        font-size: 14px;
        line-height: 153%;
        color: $color-copyright;
    }
}